:root{
    --primary: #9515c7;
    --secondary: #d586f2;
    --dark-gray:#141414;
    --cream: #fefaeb;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: var(--dark-gray);
    font-family: 'Georgia', Times, serif;
    color:var(--cream);
}
 
header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    margin: 15px;
}
 
header .titulo{
    margin-left: 5px;
    color:  var(--primary);
    font-family: 'Arial Black', Times;
    font-size:40px;
    text-decoration: none;
}

header nav a{
    text-decoration:none;
    margin-right: 20px;
    color:  var(--cream);
    font-size: 20px;
}


header nav a:hover{
    color: var(--secondary);
}

main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article{
    background-color: var(--secondary);
    border-radius: .3em;
    width: 80%;
    opacity: 0.8;
    padding: 2em;
    display: flex;
    margin-top: 3em;
}

h3 {
    margin-bottom: 20px;
    color: var(--cream);
    font-weight: 900;
    font-size: 24px;
}

article .main-text{
    padding: 20px;
    color: var(--dark-gray);
}

article span p{
    margin-left: 1.3em;
}

article span{
    margin: 0 10px;
}

article p {
    margin-bottom: 10px;
    font-size: 20px;
}

.main-text h4 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

article img {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 2em;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    gap: 2em;
    width: 80%;
    justify-content: center;
}

.galery img {
    height: 200px;
    border-radius: 2em;
}

.project-image {
    width: 550px;
    height: 350px;
}

.project-list li{
    font-size: 22px;
    color: var(--dark-gray);
    font-weight: 700;
    margin-top: 1.5em;
}

.project-list a:hover{
    color: var(--cream);
}

.project-description {
    display: flex;
    padding: 2em;
}

.tech {
    margin-left: 2em;
}

.tech p {
    margin-bottom: 1em
}

.tech span {
    background-color: var(--primary);
    border-radius: 3em;
    color: var(--cream);
    padding: 8px;
}